<!-- Fragment containing application default header -->
<head th:fragment="headFrag">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico"/>

    <title>CityLib</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" th:href="@{/css/default.css}"/>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<!-- Fragment containing application default javascripts -->
<th:block th:fragment="jsFrag">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</th:block>

<!-- Fragment containing applications main navbar -->
<th:block th:fragment="navHeader">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">CityLib</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Page d'accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Livres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/libraries">Bibliothèques</a>
                </li>
            </ul>
            <ul class="navbar-nav" th:unless="${#authorization.expression('isAuthenticated()')}">
                <li class="nav-item">
                    <a class="nav-link" href="/login">S'identifier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">S'enregistrer</a>
                </li>
            </ul>
            <ul class="navbar-nav" th:if="${#authorization.expression('isAuthenticated()')}">
                <li class="nav-item dropdown dropleft">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.getPrincipal().getUsername()}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="users/dashboard">Espace Personnel</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Se déconnecter</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</th:block>