<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/default :: headFrag">...</head>
<body>
    <div th:include="includes/default :: navHeader">...</div>
    <div class="spaceBreaker"></div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb shadow">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Page d'accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Votre espace</li>
        </ol>
    </nav>

    <div class="container">
        <div th:if="${extendStatus}" class="alert alert-dark alert-dismissible fade show" role="alert">
            <span>Votre emprunt a été prolongé</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="accordion" id="userAccordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Vos données
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#userAccordion" style="max-height: 300px; overflow: auto;">
                    <div class="card-body">
                        <p th:object="${userData}">
                            Votre Id: <span th:text="*{id}"></span> <br>
                            Nom d'utilisateur: <span th:text="*{username}"></span> <br>
                            Email: <span th:text="*{email}"></span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Reservation menu -->
            <div class="card">
                <div class="card-header" id="headingReservations">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseReservations" aria-expanded="false" aria-controls="collapseTwo">
                            Vos reservations
                        </button>
                    </h2>
                </div>
                <div id="collapseReservations" class="collapse" aria-labelledby="headingTwo" data-parent="#userAccordion" style="max-height: 600px; overflow: auto;">
                    <div class="card-body">
                        <div th:if="${reservationList != null && !reservationList.empty}">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Bibliothèque</th>
                                    <th scope="col">Date de reservation</th>
                                    <th scope="col">Notification</th>
                                    <th scope="col">Operation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="reservation : ${reservationList}">
                                    <tr>
                                        <th scope="row" th:text="${reservation.book.title}"></th>
                                        <td th:text="${reservation.library.name}"></td>
                                        <td th:text="${reservation.reservedTime}"></td>
                                        <td>
                                            <span th:if="${reservation.notified}" th:text="${'Notifie le ' + reservation.notifiedTime}"></span>
                                            <span th:unless="${reservation.notified}" th:text="${'Position en attente #' + (reservation.placement + 1)}"></span>
                                        </td>
                                        <td>
                                            <button class="btn btn-dark"
                                                    th:onclick="'window.location.href = \'' + @{/users/cancelReservation?reservationId={id}(id=${reservation.id})} + '\''">Annuler</button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${reservationList != null && !reservationList.empty}">Vous n'avez pas des reservations</div>
                    </div>
                </div>
            </div>
            <!-- End reservation menu -->

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Livres à retourner
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#userAccordion" style="max-height: 600px; overflow: auto;">
                    <div class="card-body">
                        <div th:if="${unreturnedList != null && !unreturnedList.empty}">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Id de votre copie</th>
                                    <th scope="col">Date de retour</th>
                                    <th scope="col">Prolonger le retour</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="rentedItem : ${unreturnedList}">
                                    <tr>
                                        <th scope="row" th:text="${rentedItem.book.title}"></th>
                                        <td th:text="${rentedItem.rentedCopy.id}"></td>
                                        <td>
                                            <span th:text="${rentedItem.returnDate}"></span>
                                            <span th:if="${rentedItem.pastDueDate}">(Dépassé)</span></td>
                                        <td>
                                            <!-- Fix extension post return date (this fix was unnecessary as it was already implemented on original code)                                           -->
                                            <button class="btn btn-dark" th:if="${rentedItem.extendable}"
                                                    th:onclick="'window.location.href = \'' + @{/users/extendRentedCopy/{id}(id=${rentedItem.rentedCopy.id})} + '\''">Prolonger</button>
                                            <button class="btn btn-dark"
                                                    th:unless="${rentedItem.extendable}" th:text="${rentedItem.rentedCopy.extended} ? 'Déjà prolongé' : 'Non disponible'" disabled></button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${unreturnedList != null && !unreturnedList.empty}">Vous n'avez pas de livres à retourner</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Livres retournés
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#userAccordion" style="max-height: 600px; overflow: auto;">
                    <div class="card-body">
                        <div th:if="${returnedList != null && !returnedList.empty}">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Date de retour</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="rentedItem : ${returnedList}">
                                    <tr>
                                        <th scope="row" th:text="${rentedItem.book.title}"></th>
                                        <td th:text="${rentedItem.returnDate}"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${returnedList != null && !returnedList.empty}">Vous n'avez pas d'historique de livres empruntés</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="includes/default :: jsFrag">...</th:block>

</body>
</html>
