<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/default :: headFrag">...</head>
<body>

<head th:include="includes/default :: navHeader">...</head>

    <div class="spaceBreaker"></div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Page d'accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste de livres</li>
        </ol>
    </nav>

<div class="container">
    <section>
        <div>
            <h2>Liste de livres:</h2>

            <form action="" method="get" th:object="${currentPage}">
                <input th:field="*{size}" th:value="*{size}" hidden />
                <input th:field="*{sort}" th:value="*{sort}" hidden />
                <div class="input-group">
                    <div class="form-group col-md-11">
                        <label for="inputSearch" class="sr-only">Chercher</label>
                        <input type="text" id="inputSearch" name="pageSearch" th:value="*{search}" class="form-control" placeholder="Chercher par titre, auteur ou maison d'édition" autofocus>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-dark">Chercher</button>
                    </div>
                </div>
            </form>

            <form action="" method="get" th:object="${currentPage}">
                <input name="pageNum" value="1" hidden>
                <input th:field="*{size}" th:value="*{size}" hidden>
                <input th:field="*{search}" th:value="*{search}" hidden />

                <div class="float-right text-right">
                    <div class="input-group mb-4 float-right">

                        <div class="input-group-prepend">
                            <label class="input-group-text">Taille</label>
                        </div>
                        &nbsp;
                        <button name="pageSize" value="5" type="submit" class="btn" th:classappend="*{size} == 5 ? btn-light : btn-dark">5</button>
                        <button name="pageSize" value="10" type="submit" class="btn" th:classappend="*{size} == 10 ? btn-light : btn-dark">10</button>
                        <button name="pageSize" value="25" type="submit" class="btn" th:classappend="*{size} == 25 ? btn-light : btn-dark">25</button>
                        &nbsp;
                        <div class="input-group-prepend">
                            <label class="input-group-text">Trier par</label>
                        </div>
                        <select id="orderBy" class="custom-select" th:field="*{sort}" onchange="this.form.submit()">
                            <option selected th:value="*{sort}">...</option>
                            <option value="title">Titre</option>
                            <option value="releaseDate">Date de parution</option>
                            <option value="author">Auteur</option>
                            <option value="publisher">Maison d'édition</option>
                        </select>
                    </div>
                </div>
            </form>

            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Date de parution</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Maison d'édition</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="book : ${bookList}">
                        <tr class="clickable" th:onclick="'window.location.href = \'/books/' + ${book.id} + '\''">
                            <th scope="row" th:text="${book.title}"></th>
                            <td th:text="${book.releaseDate}"></td>
                            <td th:text="${book.author.name + ' ' + book.author.surname}"></td>
                            <td th:text="${book.publisher.name}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <nav aria-label="Book page navigation">
                <form action="" method="get" th:object="${currentPage}">
                    <input th:field="*{size}" th:value="*{size}" hidden />
                    <input th:field="*{sort}" th:value="*{sort}" hidden />
                    <input th:field="*{search}" th:value="*{search}" hidden />

                    <ul class="pagination justify-content-center">
                        <th:block th:if="${currentPage.page >= 3}">
                            <li class="page-item">
                                <button name="pageNum" value="1" type="submit" class="btn btn-dark"><i class="fa fa-fast-backward"></i> 1</button>
                            </li>
                            &nbsp;     &nbsp
                        </th:block>

                        <li class="page-item" th:if="${(currentPage.page -2) > 0}">
                            &nbsp;
                            <button name="pageNum" th:value="${currentPage.page - 2}" th:text="${currentPage.page - 2}" type="submit" class="btn btn-dark"></button>
                        </li>

                        <li class="page-item" th:if="${(currentPage.page -1) > 0}">
                            &nbsp;
                            <button name="pageNum" th:value="${currentPage.page - 1}" th:text="${currentPage.page - 1}" type="submit" class="btn btn-dark"></button>
                        </li>

                        <li class="page-item active">
                            &nbsp;
                            <button th:text="*{page}" class="btn btn-dark active" disabled></button>
                        </li>

                        <li class="page-item" th:if="${currentPage.page + 1}  <= ${totalPages}">
                            &nbsp;
                            <button name="pageNum" th:value="${currentPage.page + 1}" th:text="${currentPage.page + 1}" type="submit" class="btn btn-dark"></button>
                        </li>

                        <li class="page-item" th:if="${currentPage.page + 2}  <= ${totalPages}">
                            &nbsp;
                            <button name="pageNum" th:value="${currentPage.page + 2}" th:text="${currentPage.page + 2}" type="submit" class="btn btn-dark"></button>
                        </li>

                        <th:block th:if="${currentPage.page <= (totalPages - 3)}">
                            &nbsp;     &nbsp;
                            <li class="page-item">
                                <button name="pageNum" th:value="${totalPages}" type="submit" class="btn btn-dark">
                                    <span th:text="${totalPages}"></span> <i class="fa fa-fast-forward"></i>
                                </button>
                            </li>
                        </th:block>
                    </ul>
                </form>
            </nav>
        </div>
    </section>
</div>

<th:block th:include="includes/default :: jsFrag">...</th:block>

</body>
</html>
