<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/default :: headFrag">...</head>
<body>

    <div th:include="includes/default :: navHeader">...</div>

    <div class="spaceBreaker"></div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Page d'accueil</a></li>
            <li class="breadcrumb-item"><a href="/books">Liste de livres</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${book.title}"></li>
        </ol>
    </nav>

<div class="container">
    <div th:if="${reservationStatus}" class="alert alert-dark alert-dismissible fade show" role="alert">
        <span th:if="${reservationStatus == 'true'}">Votre livre a etait reservé.</span>
        <span th:if="${reservationStatus == 'false'}">Votre livre a etait reservé.</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <section>
        <div th:object="${book}">
            <div class="row">
                <div class="col-md-6">
                    <img th:src="${'http://localhost:8081/img/book/' + book.id + '.jpg'}" onerror="this.src='../img/no_image_found.jpg'" width="400" height="550" class="shadow">
                </div>
                <div class="col-md-6">
                    <h2 th:text="*{title}"></h2>

                    <p>Auteur: <span th:text="*{author.name + ' ' + author.surname}"></span></p>

                    <p>Date de parution: <span th:text="*{releaseDate}"></span></p>

                    <p>Publié par: <span th:text="*{publisher.name}"></span></p>

                    <p>
                        Synopsis:<br>
                        <span th:text="${book.description}"></span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="spaceBreaker"></div>

    <section>
        <h3>Disponibilité:</h3>
        <span><i>* Les reservations sont limités a un maximum de deux fois les exemplaires existents.</i></span>
        <br>
        <span th:if="${userHasReservation == 'true'}"><i>* Vous avez déjà une reservation, donc vous ne pouvez pas encore reserver cette livre.</i></span>

        <table class="table table-striped table-hover shadow">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Bibliothèque</th>
                <th scope="col">Exemplaires</th>
                <th scope="col">Disponible</th>
                <th scope="col">Nombre reserves</th>
                <th scope="col" th:if="${#authorization.expression('isAuthenticated()')}">Reserver</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="library : ${copyList}">
                    <th scope="row" th:text="${library.name}"></th>
                    <td th:text="${library.copyCount}"></td>
                    <td th:text="${library.availableCount}">
                    <td th:text="${library.reservationCount}"></td>
                    <td th:if="${#authorization.expression('isAuthenticated()')}">
                        <button class="btn btn-dark" th:if="${library.availableCount == 0 && library.copyCount > 0 && library.reservationCount < library.copyCount * 2 && userHasReservation == 'false'}"
                                th:onclick="'window.location.href = \'' + @{/users/reserveCopy?bookId={bookId}&libraryId={libraryId}(bookId=${book.id}, libraryId=${library.id})} + '\''">Reserver</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>

<th:block th:include="includes/default :: jsFrag">...</th:block>

</body>
</html>
